/* ヘッダの帯色をテーマカラーに */
.md-header.-skyway {
  background-color: #004386;
}

/* フッタナビは不要 */
.md-footer-nav.-skyway {
  display: none;
}

/* サイドバーの独自追加リンクへのスタイル */
.md-nav__list hr.-skyway {
  border-top: 1px solid #8a8a8a;
  margin: 1.2rem;
  height: 0px;
}
.md-nav__link.-skyway {
  color: rgba(0, 0, 0, .5);
}
